@model IEnumerable<PostTest.Core.Models.ParcelViewModel>

@{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>N</th>
                <th><label asp-for="@Model.First().RecipientFullName"></label></th>
                <th><label asp-for="@Model.First().RecipientAdress"></label></th>
                <th><label asp-for="@Model.First().SenderFullName"></label></th>
                <th><label asp-for="@Model.First().SenderAdress"></label></th>
                <th><label asp-for="@Model.First().Weight"></label></th>
                <th><label asp-for="@Model.First().Inventory"></label></th>
            </tr>
        </thead>
        <tbody>
            @{
                var n = 0;
                foreach (var parcel in Model)
                {
                    n++;
                    <tr>
                        <td>@n</td>
                        <td>@parcel.RecipientFullName</td>
                        <td>@parcel.RecipientAdress</td>
                        <td>@parcel.SenderFullName</td>
                        <td>@parcel.SenderAdress</td>
                        <td>@parcel.Weight</td>
                        @if (string.IsNullOrEmpty(parcel.Inventory))
                        {
                            <td>Отсутствует</td>
                        }
                        else
                        {
                            <td>@parcel.Inventory</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}