@using PostTest.Core.Models

@model PostTest.Core.Models.ParcelRegisterViewModel

<form asp-controller="Home" asp-action="ParcelRegister" asp-antiforgery="false" method="get" class="form-horizontal" role="form" id="formRegister">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(n => n.Weight)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Weight, new { @class = "form-control", placeholder = "100,50" })
            @Html.ValidationMessageFor(v => v.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Inventory)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Inventory, new { @class = "form-control", placeholder = "рубашка,брюки и носки" })
            @Html.ValidationMessageFor(v => v.Inventory)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Recipient.LastName)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Recipient.LastName, new { @class = "form-control", placeholder = "Иванов" })
            @Html.ValidationMessageFor(v => v.Recipient.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Recipient.FirstName)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Recipient.FirstName, new { @class = "form-control", placeholder = "Иван" })
            @Html.ValidationMessageFor(v => v.Recipient.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Recipient.Patronymic)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Recipient.Patronymic, new { @class = "form-control", placeholder = "Иванович" })
            @Html.ValidationMessageFor(v => v.Recipient.Patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Recipient.Address)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Recipient.Address, new { @class = "form-control", placeholder = "Москва" })
            @Html.ValidationMessageFor(v => v.Recipient.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Sender.LastName)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Sender.LastName, new { @class = "form-control", placeholder = "Петров" })
            @Html.ValidationMessageFor(v => v.Sender.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Sender.FirstName)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Sender.FirstName, new { @class = "form-control", placeholder = "Петр" })
            @Html.ValidationMessageFor(v => v.Sender.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Sender.Patronymic)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Sender.Patronymic, new { @class = "form-control", placeholder = "Петрович" })
            @Html.ValidationMessageFor(v => v.Sender.Patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(n => n.Sender.Address)
        </dt>
        <dd>
            @Html.EditorFor(t => t.Recipient.Address, new { @class = "form-control", placeholder = "Брянск" })
            @Html.ValidationMessageFor(v => v.Sender.Address)
        </dd>
    </dl>
    <input type="button" class="btn btn-primary" value="Зарегистрировать" id="inputRegister" />
    <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonCancel">Отменить</button>
</form>
